# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Output files
*.csv
*.geojson
!addresses.csv
!communities.geojson
!odpem.geojson
data/
tmp/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
